h1{
    display: flex;
    justify-content: center;
    color: aqua;
}

h4{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
}

carousel{
    display:flex;
    justify-content: center;
    right:100px;
    width:200px;
}

form{
    justify-content: center;
}

body{
    background-color: rgb(208, 163, 250);
}